body {
  background: url(../images/1.jpg);
  background-size: cover;
  color: white;
  font-family: Source Sans Pro;
}

h1 {
  float: left;
  font-size: 24px;
}

.row {
  display: table;
  width: 100%;
  text-align: center;
}

.row > li {
  display: table-cell;
}

.container {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 50%;
  right: 0%;
  background: rgba(10, 10, 15, 0.5);
}

div.topnav * {
  padding: 5px 10px;
}

.midnav {
  background-color: rgb(190, 90, 0);
  padding: 5px;
  font-size: 15px;
}

.topnav {
  background-color: rgb(10, 10, 40);
  min-height: 40px;
  overflow: hidden;
  position: relative;
}

#login {
  float: right;
}
