body {
  background: url(../images/1.jpg);
  background-size: cover;
  color: white;
  font-family: Source Sans Pro;
}

h1 {
  float: left;
  font-size: 30px;
}

li {
  display: inline;
}

.container {
  padding-left: 50%;
}

.topnav {
  margin: 10px;
  padding-bottom: 10px;
}

.midnav {
  display: block;
}

#login {
  float: right;
}

#bars {
  margin: 10px
}
