body {
  background: url(../images/1.jpg);
  background-size: cover;
  color: white;
  font-family: Source Sans Pro;
}

h1 {
  float: left;
  font-size: 30px;
}

ul.row {
  display: table;
  width: 100%;
  text-align: center;
}

ul.row > li {
  display: table-cell;
}

.container {
  padding-left: 50%;
}

.topnav {
  margin: 10px;
  padding-bottom: 10px;
}

#login {
  float: right;
}

#bars {
  margin: 10px
}
